.MovieDetailPopOver-div  {
    background-color: #000000;
    width: 300px !important;
    color: white;
    padding: 10px;
    font-size: 15px;
}

.MovieDetailPopOver-title {
    font-size: 20px;
    font-family: fantasy;
    color: yellowgreen;
}